{% extends 'base.html' %}
{% load static %}

{% load thumbnail %}
{% block content %}




<div class="slider-area">
    <div class="zigzag-bottom"></div>
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
        
        <div class="slide-bulletz">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="carousel-indicators slide-indicators">
                            <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                            <li data-target="#slide-list" data-slide-to="1"></li>
                            <li data-target="#slide-list" data-slide-to="2"></li>
                        </ol>                            
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single-slide">
                    <div class="slide-bg slide-one"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-two"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-three"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>        
</div> <!-- End slider area -->




<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">


                        {% for item in object_list %}
                        <div class="single-product">
                            <div class="product-f-image">
                                
                                <img src="{{ item.image.url }}" alt="">
                          
                                <div class="product-hover">
                                    <a href="{{ item.get_add_to_cart_url }}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="{{ item.get_absolute_url }}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            
                            <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
                            
                            <div class="product-carousel-price">
                                <ins>
                                    ${{ item.discount_price }}</ins>
                                     <del>${{ item.price }}</del>
                                        
                            </div> 
                        </div>
                        {% endfor %}

                       
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-refresh"></i>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->



<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    <a href="" class="wid-view-more">View All</a>

                    {% for item in object_list %}
                    {% if item.category == 'P' %}
                    <div class="single-wid-product">
                        
                        <a href="single-product.html">

                            <img src="{{ item.image.url }}" alt="" class="product-thumb">
                        </a>
                        
                        <h2><a href="single-product.html">{{ item.title }}</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            ${{ item.discount_price }}</ins>
                                     <del>${{ item.price }}</del>
                        </div>                            
                    </div>
                {% endif %}
                {% endfor %}
                   

                    
                    
                </div>
            </div>


            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    <a href="#" class="wid-view-more">View All</a>

                    {% for item in object_list %}
                    {% if item.category == 'L' %}
                    <div class="single-wid-product">
                        
                        <a href="single-product.html">

                            <img src="{{ item.image.url }}" alt="" class="product-thumb">
                        </a>
                        
                        <h2><a href="single-product.html">{{ item.title }}</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            ${{ item.discount_price }}</ins>
                                     <del>${{ item.price }}</del>
                        </div>                            
                    </div>
                {% endif %}
                {% endfor %}


                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    <a href="#" class="wid-view-more">View All</a>

                    {% for item in object_list %}
                    {% if item.category == 'A' %}
                    <div class="single-wid-product">
                        
                        <a href="single-product.html">

                            <img src="{{ item.image.url }}" alt="" class="product-thumb">
                        </a>
                        
                        <h2><a href="single-product.html">{{ item.title }}</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            ${{ item.discount_price }}</ins>
                                     <del>${{ item.price }}</del>
                        </div>                            
                    </div>
                {% endif %}
                {% endfor %}
                    
                    
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->
{% endblock %}