{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <form action="{% url 'core:search' %}" method="GET">
                <input name="search_term" type="text" placeholder="Search here.." >
                <button type="submit" name="button">Submit</button>
              </form>
          

            {% for item in object_list %}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{ item.image.url }}" alt="">
                    </div>
                    <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
                    <div class="product-carousel-price">
                        <ins>${{ item.discount_price }}</ins> <del>${{ item.price }}</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{{ item.get_add_to_cart_url }}">Add to cart</a>
                    </div>                       
                </div>
            </div>
            {% endfor %}
            
            
            
            
            
        
            
            
            
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {% if is_paginated %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li>
                          <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li><a href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                          {% endif %}
                        </li>
                      </ul>
                      {% endif %}
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}